/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-03-2017, 22:08:57
    Author     : jibba_000
*/
.root {-fx-background-image: url("background.jpg");
    -fx-background-size: cover;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9 {-fx-background-image: url("diglett.png") no-repeat center center fixed;
    -fx-background-size: cover;
    -fx-background-color: null;
}

body{ cursor: url("hammer.png"), default;}
